.section.section-breadcrumb{
    padding-top:0px !important;
}

.menu-item{
    float: left !important;
    font-family: 'Champagne & limousines', sans-serif !important;
    color: #4d4d4d !important;
    font-size: 12px !important;
    line-height: 14px !important;
    letter-spacing: 2px !important;
    position: relative !important;
    display: inline-block !important;
    vertical-align: top !important;
    text-decoration: none !important;
    color: #222222 !important;
    padding: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    text-align: left !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.box-ico-nav{
    float: left;
    font-family: 'Champagne & limousines', sans-serif;
    color: #4d4d4d;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
}

.breadcrumb {
    font-size: 12px;
    font-family: "Myriad-Pro", Arial, sans-serif;
    color: #7c7c7c;
    width: 100%;
    display: block;
    padding: 115px 0 0 177px;
}

.breadcrumb span {
    position: relative;
    margin-right: 18px;
}

.breadcrumb span:after {
    content: ">";
    display: inline-block;
    position: absolute;
    font-size: 13px;
    padding-left: 8px;
    margin-right: 8px;
}

.breadcrumb span:last-of-type:after {
    display: none;
}

.menu-lateral h1{
    font-weight: 500;
}
.menu-lateral {
    font-size: 26px;
    font-family: 'Champagne & limousines', sans-serif;
    color: #7c7c7c;
    width: 30%;
    font-style: bold;
    display: flex-start;
    float: left;
    padding: 30px 0 0 177px;
}

.topics {
    font-size: 12px;
    font-family: "Myriad-Pro", Arial, sans-serif;
    color: #7c7c7c;
    padding-left: 5px;
}

.area-listagem {
    display: flex;
}

.filter {
    text-align: right;
    padding: 16px 40px 30px 0;
    font-family: "Myriad-Pro", Arial, sans-serif;
    color: #7c7c7c;
}

.filter form {
    display: flex;
    justify-content: flex-end;
}

.filter label {
    margin-left: 10px;
    font-weight: 500;
}

.produtos {
    display: inline-flex;
    min-width: 100%;

}

.topics {
    list-style-type: none;
}

.topics a {
    text-decoration: none;
    color: inherit;
    padding: 10px 0;
    font-size: "Montserrat", sans-serif;
    font-weight: 100;
    letter-spacing: 0.1rem;
    line-height: 1.4;
    display: block;
    width: 100%;
}
.lista-produtos{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lista-produtos li{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.nome-produto{
    padding: 8px 0;
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.formphp label.nao-aparece,
.formphp input.nao-aparece {
  display: none !important; }

#form-erro span,
#form-send span {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  display: block; 
  text-align: center;
}

#form-erro p,
#form-send p {
text-align: center;
}
#form-send p{
    color:#5ae1f1;
}

#form-send {
  color: #a0a0a0; }

#form-erro {
  color: #f64540; }
