body {
  background-color: #fff;
  font-family: 'Champagne & limousines', sans-serif;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  position: relative;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.section.section-header-interna {
  height: 95px;
}

.section.section-breadcrumb {
  padding-top: 0px;
}

.section.section-404 {
  margin-top: 90px;
}

.container {
  display: block;
  width: 100%;
  background-color: #fff;
}

.container.container-main-banner {
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url('../images/main-banner.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container.container-sustenta {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/grid-2.png');
  background-position: 50% 100%;
  background-size: 1030px;
  background-repeat: repeat-x;
  text-align: center;
}

.container.container-carrossel {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.container.container-diferenciais {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container.container-contato {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fcf5a9;
}

.container.container-footer {
  padding-top: 40px;
  padding-bottom: 10px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 10px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.container.container-bread {
  padding-top: 60px;
}

.container.container-interna {
  padding-top: 50px;
}

.container.container-interna.listagem-prod {
  padding-top: 0px;
}

.container.container-404 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4d4d4d;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.container.container-whats-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  background-color: transparent;
}

.container-nav {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.container-nav.container-nav-interna {
  padding-bottom: 30px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Champagne & limousines', sans-serif;
  color: #4d4d4d;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
}

.box-icos-nav {
  margin-top: 5px;
  margin-right: 15px;
  float: right;
}

.li-icos-nav {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 7px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 15px;
  font-weight: 700;
}

.ul-icos-nav {
  margin-bottom: 0px;
}

.link-ico-nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4d4d4d;
  text-decoration: none;
}

.qtd-carrinho {
  position: absolute;
  top: -5px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #fb4d53;
  color: #fff;
  font-size: 8px;
  line-height: 8px;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.nav-link:hover {
  margin-top: -5px;
}

.box-institu {
  position: relative;
  width: 33.33333%;
  height: 350px;
  padding: 10px 25px 20px;
  float: left;
}

.box-institu.quem-somos {
  background-image: url('../images/bg-destq-quem-somos-borboleta.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.box-institu.responsabilidade {
  background-image: url('../images/bg-destq-responsabilidade.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.box-institu.historia {
  background-image: url('../images/bg-destq-quem-somos.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-institu {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 90px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #fcf5a9;
  opacity: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.content-institu.fixo {
  padding-top: 15px;
  opacity: 1;
  font-family: 'Champagne & limousines', sans-serif;
  color: #365c5d;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.h2-sustentabilidade {
  letter-spacing: 5px;
}

.slider-brinquedos {
  height: 200px;
  background-color: transparent;
}

.arrow-slider {
  width: 4%;
  color: #81dd52;
}

.mask-slider {
  display: block;
  width: 92%;
  margin-right: auto;
  margin-left: auto;
}

.slide {
  width: 20%;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.img-slide {
  min-width: 140px;
}

.txt-slide {
  opacity: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.box-img-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-dif {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33333%;
  height: 250px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.box-dif.middle {
  border-right: 1px dashed #a3a3a3;
  border-left: 1px dashed #a3a3a3;
}

.img-dif {
  margin-bottom: 10px;
}

.box-img-contado {
  width: 50%;
  float: left;
  background-image: url('../images/imagem-contato.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-contato {
  width: 50%;
  margin-bottom: 0px;
  padding: 50px 65px;
  float: left;
}

.h3-contato {
  color: #5b8384;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.input {
  height: 30px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #7e967d;
  background-color: transparent;
}

.input::-webkit-input-placeholder {
  font-family: Montserrat, sans-serif;
  color: #7e967d;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.input:-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  color: #7e967d;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.input::-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  color: #7e967d;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.input::placeholder {
  font-family: Montserrat, sans-serif;
  color: #7e967d;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.input.frete {
  width: 55%;
  margin-right: 5%;
  float: left;
}

.input.frete::-webkit-input-placeholder {
  color: #000;
}

.input.frete:-ms-input-placeholder {
  color: #000;
}

.input.frete::-ms-input-placeholder {
  color: #000;
}

.input.frete::placeholder {
  color: #000;
}

.input.news {
  width: 80%;
  float: left;
  border-bottom-color: #fff;
  color: #fff;
}

.input.news::-webkit-input-placeholder {
  font-family: 'Champagne & limousines', sans-serif;
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: none;
}

.input.news:-ms-input-placeholder {
  font-family: 'Champagne & limousines', sans-serif;
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: none;
}

.input.news::-ms-input-placeholder {
  font-family: 'Champagne & limousines', sans-serif;
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: none;
}

.input.news::placeholder {
  font-family: 'Champagne & limousines', sans-serif;
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: none;
}

.select {
  height: 30px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #658374;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/seta-select.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  color: #7e967d;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.text-area {
  max-height: 90px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #a4b28a;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #7e967d;
  font-size: 12px;
  line-height: 14px;
}

.submit-form {
  width: 120px;
  margin-bottom: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: transparent;
  background-image: url('../images/bg-btn-enviar.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #fcf5a9;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
}

.info-form {
  width: 100%;
  font-family: Montserrat, sans-serif;
  color: #5b8384;
  text-align: center;
}

.email-form {
  color: #5b8384;
  text-decoration: none;
}

.tel-form {
  color: #5b8384;
  text-decoration: none;
}

.box-dstq-left {
  width: 50%;
  height: 550px;
  float: left;
}

.box-dstq-right {
  width: 50%;
  height: 550px;
  float: left;
}

.dstq-g {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fcf6a9;
}

.dstq-p {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 200px;
  padding: 25px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dstq-p.azul {
  background-color: #00d1e8;
}

.dstq-p.cinza {
  background-color: #fcfcfc;
}

.dstq-g2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 285px;
  padding: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #dba841;
}

.dstq-p2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 265px;
  padding: 30px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dstq-p2.amarelo {
  background-color: #fcf6a9;
}

.dstq-p2.beje {
  background-color: #dba841;
}

.hover-nome-prod {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(251, 77, 84, 0.7);
  opacity: 0;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-main-banner {
  width: 300px;
  margin-left: 10px;
}

.cercado-cima {
  position: absolute;
  left: 0px;
  top: -35px;
  right: 0px;
  height: 80px;
  background-image: url('../images/grid-1.png');
  background-position: 50% 50%;
  background-size: 1030px;
  background-repeat: repeat-x;
}

.img-dstq {
  max-width: 90%;
}

.img-dstq.bike {
  width: 100%;
  max-width: 100%;
}

.logo-nav-interna {
  width: 100px;
  margin-right: 20px;
  margin-left: 10px;
  float: left;
}

.li-bread {
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  font-weight: 400;
}

.link-bread {
  font-family: Montserrat, sans-serif;
  color: #4d4d4d;
  font-size: 12px;
  line-height: 14px;
}

.row-det-prod {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.content-prod-det {
  display: block;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.box-img-det-prod {
  width: 90%;
  height: 470px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-det-prod {
  max-height: 90%;
  max-width: 90%;
}

.h2-branco {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 10px;
  padding-left: 25px;
  color: #fff;
}

.h2-branco:hover {
  color: #4d4d4d;
}

.h3-preco {
  font-family: 'Champagne & limousines', sans-serif;
  font-size: 19px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.h2-prod {
  font-family: 'Champagne & limousines', sans-serif;
  color: #696969;
  font-size: 15px;
  letter-spacing: 5px;
}

.desc-prod {
  font-size: 12px;
  line-height: 20px;
}

.col-desc-prod {
  font-family: Montserrat, sans-serif;
}

.form-frete {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #ebebeb;
}

.label-frete {
  color: #5b8384;
  font-weight: 400;
}

.submit-frete {
  width: 40%;
  height: 30px;
  padding-top: 5px;
  float: left;
  background-color: #fff;
  color: #7fa4a5;
}

.add-cart {
  width: 100%;
  padding-top: 10px;
  background-color: #fb4d54;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.row-prod-share {
  margin-top: 20px;
  text-align: center;
}

.content-veja-tambem {
  padding: 80px 10px 50px;
}

.h2-veja-tbm {
  width: 100%;
  margin-bottom: 20px;
  clear: both;
  text-align: center;
}

.col-veja {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.txt-veja {
  margin-top: 30px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}

.img-veja {
  height: 100px;
}

.content-news {
  padding-top: 1px;
  padding-bottom: 10px;
  background-color: #dba841;
}

.h2-news {
  padding-bottom: 10px;
  background-image: url('../images/bg-bttn-h2-news.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 10px;
}

.form-news {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
}

.submit-news {
  width: 20%;
  height: 30px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.prod-gallery {
  height: 470px;
}

.prod-item {
  width: 55px;
  height: 55px;
  margin-right: 7px;
  margin-bottom: 15px;
  margin-left: 7px;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #b0b0b0;
  background-color: transparent;
  text-align: center;
}

.prod-item.w--current {
  background-color: transparent;
}

.foto-dstq-prod {
  height: 400px;
  max-height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.container-img-det-prod {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.prev-img-det-prod {
  max-height: 100%;
}

.link-veja {
  color: #4d4d4d;
  text-decoration: none;
}

.col-img-prod {
  height: auto;
}

.share_face {
  padding-top: 2px;
  padding-left: 20px;
  background-image: url('../images/ico-face.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
  color: #4d4d4d;
  font-size: 13px;
  text-decoration: none;
}

.share_twitter {
  padding-top: 2px;
  padding-left: 20px;
  background-image: url('../images/ico-twitter.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
  color: #4d4d4d;
  font-size: 13px;
  text-decoration: none;
}

.share_pinterest {
  padding-top: 2px;
  padding-left: 20px;
  background-image: url('../images/ico-pinterest.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
  color: #4d4d4d;
  font-size: 13px;
  text-decoration: none;
}

.share_gplus {
  padding-top: 2px;
  padding-left: 25px;
  background-image: url('../images/ico-g-plus.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
  color: #4d4d4d;
  font-size: 13px;
  text-decoration: none;
}

.logo-footer {
  width: 220px;
}

.row-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.a-social {
  width: 30px;
}

.content-frases {
  background-image: url('../images/grid-2.png'), url('../images/grid-2.png');
  background-position: 50% 0px, 50% 100%;
  background-size: 1240px, 1240px;
  background-repeat: repeat-x, repeat-x;
}

.frase-solta {
  display: block;
  width: 100%;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.bg-nav {
  position: fixed;
  left: 0%;
  top: 80px;
  right: 0%;
  bottom: auto;
  z-index: 2;
  height: 31px;
  background-image: url('../images/bg-botton-nav2.png');
  background-position: 50% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container-search {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 94.9%, 0.65);
}

.box-search {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.search-btn {
  padding-right: 30px;
  padding-left: 30px;
  background-color: #ffb5aa;
  font-weight: 700;
  text-transform: uppercase;
}

.search-input {
  margin-bottom: 25px;
  border: 1px solid #ffb5aa;
  font-size: 15px;
}

.search-input::-webkit-input-placeholder {
  color: #ffb5aa;
}

.search-input:-ms-input-placeholder {
  color: #ffb5aa;
}

.search-input::-ms-input-placeholder {
  color: #ffb5aa;
}

.search-input::placeholder {
  color: #ffb5aa;
}

.btn-fechar {
  position: absolute;
  left: auto;
  top: -15px;
  right: -15px;
  bottom: auto;
  cursor: pointer;
}

.txt-copyright {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 10px;
  line-height: 14px;
}

.titu-404 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  background-image: url('../images/linha-404.png');
  background-position: 50% 100%;
  background-size: auto;
  background-repeat: no-repeat;
  color: #0079cd;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 5px;
}

.footer-404 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bike-404 {
  width: 404px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.ul-redes {
  margin-top: 20px;
}

.li-redes {
  padding: 15px;
  float: left;
}

.h1-nav-produtos {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.col-nav-produtos {
  padding-left: 40px;
}

.li-nav-produtos {
  margin-bottom: 10px;
}

.link-nav-produtos {
  color: #4d4d4d;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  text-decoration: none;
}

.slider-listagem-prods {
  height: auto;
  background-color: transparent;
}

.arrow-slider-prods {
  display: none;
}

.slide-nav-prods {
  height: auto;
  padding-top: 40px;
}

.li-prods {
  width: 25%;
  height: auto;
  padding: 15px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-prod {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  font-family: Montserrat, sans-serif;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.row-listagem-prods {
  padding-bottom: 40px;
}

.img-prev-prod {
  max-height: 180px;
}

.box-img-prev-prod {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-banner-oficina {
  width: 100%;
  height: 525px;
  background-color: #fcf6a9;
  background-image: url('../images/banner-oficina.jpg');
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.info-banner-of {
  width: 40%;
  height: 100%;
  padding: 40px;
  background-color: #fcf6a9;
  color: #4d4d4d;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.h1-of {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.h2-of {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
}

.info-of {
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
}

.cta-of {
  height: 485px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-left: 30px;
  background-image: url('../images/banner-oficina3.jpg');
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 7px;
}

.text-block {
  text-transform: uppercase;
}

.btn-cta-of {
  width: 320px;
  margin-top: 40px;
  padding-left: 75px;
  border: 1px solid #4d4d4d;
  background-color: transparent;
  background-image: url('../images/ico-whats2.png');
  background-position: 25px 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 46px;
  letter-spacing: 1px;
}

.mid-banner-of {
  width: 100%;
}

.cta-whats-home {
  padding-left: 40px;
  background-color: transparent;
  background-image: url('../images/ico-whats2.png');
  background-position: 0% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: #999;
  font-size: 18px;
}

.link-form {
  color: #5b8384;
  text-decoration: none;
}

.h1-listagem-prod {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-left: 10px;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.dropdown-toggle-brinquedos {
  padding-right: 10px;
  padding-left: 10px;
}

.drop-list.w--open {
  left: 0px;
  right: 0px;
  z-index: 999999999999;
  background-color: #fff9d9;
}

.drop-link {
  background-color: #fff9d9;
}

.container-nav-prod {
  position: relative;
  z-index: 10;
  display: none;
  margin-top: 0px;
  padding: 60px 25px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #fff9d9;
  background-image: url('../images/bg-menu-brinquedos.png');
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.h2-nav-prods {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
}

.row-nav-brinquedos {
  width: 50%;
}

.heading {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
}

.link-nav-prods {
  color: #4d4d4d;
  text-decoration: none;
}

.li-nav-prods {
  margin-bottom: 5px;
}

html.w-mod-js *[data-ix="anima-frutas"] {
  opacity: 0;
  width: 0px;
}

html.w-mod-js *[data-ix="anima-bonde"] {
  opacity: 0;
  -webkit-transform: translate(-200px, -185px);
  -ms-transform: translate(-200px, -185px);
  transform: translate(-200px, -185px);
}

@media (max-width: 991px) {
  .container.container-main-banner {
    background-position: 50% 50%;
  }
  .nav-menu {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }
  .content-institu.fixo {
    font-size: 13px;
    letter-spacing: 4px;
  }
  .arrow-slider {
    width: 5%;
  }
  .mask-slider {
    width: 90%;
  }
  .slide {
    width: 33%;
  }
  .txt-slide {
    opacity: 1;
  }
  .box-img-contado {
    background-position: -339px 0px;
  }
  .form-contato {
    padding-right: 30px;
    padding-left: 30px;
  }
  .logo-main-banner {
    width: 300px;
  }
  .menu-btn {
    margin-right: 20px;
    color: #7e967d;
  }
  .menu-btn.w--open {
    border-radius: 100px;
    background-color: #7e967d;
    color: #fff;
  }
  .content-prod-det {
    width: 95%;
  }
  .content-veja-tambem {
    padding-top: 50px;
  }
  .col-veja {
    margin-bottom: 30px;
  }
  .txt-veja {
    opacity: 1;
  }
  .info-banner-of {
    width: 50%;
  }
  .cta-of {
    background-position: 240% 50%;
  }
  .container-nav-prod {
    background-size: 390px;
  }
}

@media (max-width: 767px) {
  .container.container-main-banner {
    background-position: -238px 44px;
  }
  .container.container-sustenta {
    padding-right: 30px;
    padding-left: 30px;
  }
  .content-institu.fixo {
    font-size: 9px;
    line-height: 19px;
    font-weight: 700;
  }
  .slider-brinquedos {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .arrow-slider {
    width: 7%;
  }
  .mask-slider {
    width: 86%;
  }
  .slide {
    width: 50%;
  }
  .content-veja-tambem {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .li-nav-produtos {
    width: 50%;
    height: 42px;
    float: left;
  }
  .img-prev-prod {
    max-height: 140px;
  }
  .box-img-prev-prod {
    height: 140px;
  }
  .box-banner-oficina {
    height: 350px;
    background-position: 63% 50%;
  }
  .info-banner-of {
    width: 60%;
    padding: 25px;
    font-size: 12px;
    line-height: 20px;
  }
  .h1-of {
    font-size: 26px;
    line-height: 30px;
  }
  .info-of {
    padding-right: 80px;
    padding-left: 80px;
  }
  .cta-of {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.7)), to(hsla(0, 0%, 100%, 0.7))), url('../images/banner-oficina3.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.7)), url('../images/banner-oficina3.jpg');
    background-position: 0px 0px, 100% 50%;
    background-size: auto, auto;
    background-repeat: repeat, no-repeat;
    text-align: center;
  }
  .container-nav-prod {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .row-nav-brinquedos {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .container.container-main-banner {
    background-position: 45% 40%;
    background-size: cover;
  }
  .container.container-diferenciais {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.container-footer {
    line-height: 15px;
  }
  .container.container-bread {
    padding-top: 70px;
  }
  .box-icos-nav {
    margin-right: 5px;
  }
  .box-institu {
    width: 100%;
  }
  .content-institu.fixo {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .arrow-slider {
    width: 10%;
  }
  .mask-slider {
    width: 80%;
  }
  .slide {
    width: 100%;
  }
  .box-dif {
    width: 100%;
    height: 200px;
    font-size: 12px;
    line-height: 20px;
  }
  .box-dif.middle {
    border-style: dashed none solid;
    border-top-width: 1px;
    border-top-color: #a3a3a3;
    border-bottom-width: 1px;
    border-bottom-color: #a3a3a3;
  }
  .img-dif {
    width: 60px;
  }
  .form-contato {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .box-dstq-left {
    width: 100%;
    height: 400px;
  }
  .box-dstq-right {
    width: 100%;
    height: 400px;
  }
  .dstq-g {
    height: 250px;
    background-size: auto 190px;
  }
  .dstq-p {
    height: 150px;
  }
  .dstq-g2 {
    height: 250px;
  }
  .dstq-p2 {
    height: 150px;
  }
  .logo-main-banner {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .ul-bread {
    padding-right: 15px;
    padding-left: 15px;
  }
  .box-img-det-prod {
    height: 300px;
  }
  .prod-gallery {
    height: 300px;
  }
  .prod-nav {
    width: 20%;
    float: left;
  }
  .foto-dstq-prod {
    height: 300px;
  }
  .tb-content {
    width: 80%;
    float: left;
  }
  .col-nav-produtos {
    padding-right: 15px;
    padding-left: 15px;
  }
  .li-prods {
    width: 50%;
    height: 180px;
  }
  .img-prev-prod {
    max-height: 100px;
  }
  .box-img-prev-prod {
    height: 100px;
  }
  .box-banner-oficina {
    height: 370px;
    background-position: 77% 50%;
    background-size: auto;
  }
  .info-banner-of {
    width: 100%;
    background-color: rgba(252, 246, 169, 0.85);
  }
  .h2-of {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .info-of {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .cta-of {
    padding-left: 0px;
  }
  .btn-cta-of {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 40px;
    background-position: 10px 50%;
  }
  .container-nav-prod {
    z-index: 390;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@font-face {
  font-family: 'Champagne & limousines';
  src: url('../images/') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Champagne & limousines';
  src: url('../images/') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Champagne & limousines';
  src: url('../images/') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Champagne & limousines';
  src: url('../images/') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}